<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
    <ng-container *ngFor = "let definition of headers">
        <ng-container [matColumnDef]="definition.key">
            <th mat-header-cell *matHeaderCellDef>{{definition.header}}</th>
            <td mat-cell *matCellDef="let element">
              <ng-container [ngSwitch] = "element[definition.key] ? element[definition.key].type : ''">
                <ng-container *ngSwitchCase = "'icon'">
                  <span (click) = "iconAction(element)" class = "cursorPointer">
                    <img src = '{{"assets/images/" + element[definition.key]["src"]}}'>
                  </span>
                </ng-container>
                
              <ng-container *ngSwitchDefault> {{element[definition.key]}}</ng-container>
          </ng-container>  
        </td>
    </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>